.infoBarContainer{
  margin-left: 30%;
}

.itemInfoBar{
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(17, 122, 101);
  color: white;
  font-family: "opensans", sans-serif;
  font-size: 1.2em;
  min-width: 20%;
  margin-right: 5%;
  border-radius: 15px;
  display: inline;
}