.success-lvl {
  margin-top: 45%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  border-radius: 5%;
  background-color: rgb(226, 226, 226);
  height: 100%;
}

.result-pic {
  text-align: center;
  width: 15%;
  cursor: pointer;
}

.stars{
  margin-left: -17%;
  width: 40%;
}

.success-text {
  text-align: center;
  color: black;
  font-size: 100%;
  margin-bottom: 3%;
}

