.diff-container {
  margin-top: 10%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 3%;
  background-color: rgb(17, 122, 101);
  height: 100%;
}

.diff-container:hover {
  box-shadow: 12px 20px 25px rgb(0, 0, 0), 12px 20px 25px rgba(0, 0, 0);
}

.diff-item {
  margin-bottom: 1%;
  margin-top: 1%;
  color: azure;
  height: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.diff-item:hover {
  background-color: rgba(190, 184, 184, 0.301);
}

.diff-separator {
  margin-left: 24%;
  align-self: center;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
}

.diff-img {
  width: 55%;
  position: relative;
}

.divider-diff {
  align-self: center;
  width: 45%;
  margin-left: 27%;
}

.contWelcome-diff {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  align-content: center;
  font-size: 150%;
  color: white;
}

.character-pic{
  margin-right: 15%;
  width: 15vh;
}