.levelProgress-label{
  font-family: "opensans", sans-serif;
  font-size: large;
  color: white;
  margin-left: 2%;
}

.levelProgress-infoContainer{
  font-family: "opensans", sans-serif;
  box-shadow: 2px 4px 8px rgb(0, 0, 0), 2px 4px 4px rgba(0, 0, 0);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%; 
  margin-right: 1%; 
  border: none;
  border-radius: 8px;
  background-color: rgb(17, 122, 101);
  padding-top: 1%;
}

.levelProgress-bar{
  font-family: "opensans", sans-serif;
  display: inline; 
  font-size: large;
  margin: 5%;
  color:white;
}

.levelProgress-MinMax{
  font-family: "opensans", sans-serif;
  display: inline-block;
  float: left;
  margin-left: 5px;
}