.profileItem-infoContainer{
  box-shadow: 2px 4px 8px rgb(36, 35, 35), 2px 4px 4px rgba(36, 35, 35);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%; 
  margin-right: 1%; 
  font-family: "opensans", sans-serif;
  border: none;
  color: white;
  border-radius: 8px;
  background-color: rgb(17, 122, 101);
}

.profileItem-infoText{
  text-align: center;
  font-family: "opensans", sans-serif;
  display: inline; 
  font-size: large;
  vertical-align: middle;
}

.profileItem-label{
  font-family: "opensans", sans-serif;
  font-size: large;
  color: white;
  margin-left: 2%;
}