.boardCell {
  overflow: hidden;
  width: 30%;
  background-color: gray;
  color: gray;
  border-color: black;
  border: 0.5px solid black;
  background-size: cover;
}
.boardCell:after {
  content: "";
  margin-top: 100%;
}
