.boardContainer {
  padding-top: 160px;
  padding-left: 730px;
  margin: auto;
  width: 88%;
  height: 88%;
}

.board {
  text-align: center;
  margin: auto;
  width: 100%;
  border: 1px solid black;
  table-layout: fixed;
}