.boardContainer {
  margin: auto;
  min-width: 40vh;
  max-width: 80vh;
  height: auto;
}

.board {
  text-align: center;
  margin: auto;
  width: 100%;
  border: 1px solid black;
  table-layout: fixed;
}






