.lvl-container{
  margin-top: 15%;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 3%;
  background-color: rgb(17,122,101) ;
  height: 100%;
}

.lvl-container:hover {
  box-shadow: 12px 20px 25px rgb(0, 0, 0), 12px 20px 25px rgba(0, 0, 0);
}

.lvl-item{
  font-size: 300%;
  margin-bottom: 1%;
  margin-top: 1%;
  color: azure;
  height: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.lvl-item:hover{
  background-color: grey;
  border-radius: 5%;
}

.lvl-separator{
  margin-left: 24%;
  align-self: center;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
}

.lvl-img{
  width: 55% ;
  height: auto;
  position: relative;
}
