.auth-cont{
  margin-top: 25%;
  text-align: left;
}

.divider-auth{
  width: 100%;
}

.guess-title{
  text-align: left;
  font-size: 150%;
  color: rgb(255, 255, 255);
  margin-bottom: 2%;
}

.next-endbutt:hover{
  width: 11%;
  height: auto;
}

.guess-data{
  text-align: left;
  font-size: 105%;
  color: rgb(214, 214, 214);
  margin-bottom: 2%;
}

.auth-register{
  margin-top: 40px;
  font-size: large;
  color: white;
  cursor: pointer;
}

.auth-register:hover{
  text-decoration: underline;
}
