.character-img{
  width: 75%;
  margin-left: 8%;
  filter: opacity(.7);
  cursor: pointer;
}

.character-img:hover{
  width: 90%;
  filter: opacity(1);
}

.chooseCh-header{
  text-align: center;
  font-size: 280%;
  color: rgb(255, 255, 255);
  margin-bottom: 2%;
  font-family: "opensans", sans-serif;
}

.character-header{
  text-align: center;
  font-size: 200%;
  font-family: "opensans", sans-serif;
  color: rgb(245, 245, 245);
  margin-bottom: 6%;
}
