.start-Board-butt {
  margin-left: 28%;
  margin-top: 2%;
  background-color: #444444;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  width: 40%;
  text-align: center;
}

.start-Board-butt:hover{
  background-color: #f0b923;
  text-rendering: optimizeSpeed;
}

.finish-Board-butt {
  border: lightcyan 2px;
  margin-left: 28%;
  margin-top: 2%;
  background-color: #444444;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  width: 40%;
  text-align: center;
}

.finish-Board-butt:hover{
  background-color: #f0b923;
  text-rendering: optimizeSpeed;
}

.delete-Board-butt {
  margin-top: 1%;
  box-shadow: 0px 0px 0px 0px #da0000;
  background: linear-gradient(to bottom, #da0000 5%, #da0000 100%);
  background-color: #da0000;
  border-radius: 14px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  width: 100%;
  height: 5%;
  text-align: center;
  text-shadow: 0px 0px 5px #da0000;
}

.boardLevel{
  margin-top: 2%;
}

.l-joystick{
  padding-top: 1%;
  margin-top: 3%;
  margin-bottom: 15px;
  margin-left: 25%;
  box-shadow: 0 1px 3px rgba(0, 0, 0), 0 1px 2px rgba(0, 0, 0);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-bottom: 1%;
  border-radius: 15px;
  background-color: rgb(17,122,101) ;
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .l-joystick {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 900px) {
  .l-joystick {
    width: 70%;
    margin-left: 15%;
  }
}


.ins-board-obj{
  margin-left: 1%;
  margin-top: 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0), 0 1px 2px rgba(0, 0, 0);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-top: 1%;
  padding-bottom: 5%;
  border-radius: 3%;
  background-color: rgb(17,122,101) ;
  height: 100%;
  width: 42%;
}

.ins-board-obj:hover {
  box-shadow: 12px 12px 25px rgb(0, 0, 0), 12px 12px 25px rgba(0, 0, 0);
}

hr.dotted {
  border-top: 3px dotted rgb(231, 231, 231);
  margin-bottom: 0%;
  margin-top: 1%;
}
