.diff-container {
  margin-top: 10%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 15px;
  background-color: rgb(17, 122, 101);
  height: 100%;
  min-height: 130px;
}

.diff-container:hover {
  background-color: rgba(170, 170, 170, 0.829);
}



.diff-item {
  margin-bottom: 1%;
  margin-top: 1%;
  color: azure;
  height: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}


.diff-separator {
  margin-left: 24%;
  align-self: center;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
}

.diff-img {
  width: 55%;
  position: relative;
}

.diff-img2 {
  width: 68%;
  position: relative;
}

.divider-diff {
  align-self: center;
  width: 45%;
  margin-left: 27%;
}

.contWelcome-diff {
  font-family: "opensans", sans-serif;
  text-align: center;
  align-content: center;
  font-size: 2em;
  color: white;
}

.character-pic{
  margin-right: 15%;
  width: 15vh;
}