.lm-joystick{
  margin-top: 15px;
  margin-top: 3%;
  margin-left: 25%;
  box-shadow: 0 1px 3px rgba(0, 0, 0), 0 1px 2px rgba(0, 0, 0);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-bottom: 3%;
  border-radius: 15px;
  background-color: rgb(17,122,101) ;
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .lm-joystick {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 900px) {
  .lm-joystick {
    width: 70%;
    margin-left: 15%;
  }
}

.inputs-lm-container{
  text-align: center;
  width: 100%;
}

.inputs-lm-header{
  text-align: center;
  font-size: 1.2em;
  color: white;
  font-family: 'opensans-regular', sans-serif;
}

.next{
  width: 3%;
  margin-left: 90%;
}

.finished-level{
  text-align: center;
  border: solid black 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35%;
  width: 30%;
  padding-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
  background-color: rgb(17,122,101) ;
  color: white;
  height: 70px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'opensans-regular', sans-serif;
}

.finished-level:hover{
  background-color: teal;
}

.checkboxLabel{
  float: left;
  display: inline;
  font-size: 1.3em;
  font-family: 'opensans-regular', sans-serif;
  color: white;
  margin-bottom: 3%;
}

.checkbox{
  margin-bottom: 3%;
  float: right;
  cursor: pointer;
  margin-bottom: 2%;
  width: 25px; 
  height: 25px;
  text-align: right;
}

.radio-lm{
  margin-left: 38.5%;
  align-content: center;
  max-width: 400px;
}

@media only screen and (max-width: 900px) {
  .radio-lm {
    margin-left: 19%;
  }
}

@media only screen and (max-width: 450px) {
  .radio-lm {
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1100px) {
  .radio-lm {
    margin-left: 39%;
  }
}