.lvl-container {
  margin-top: 5%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  background-color: rgb(17, 122, 101);
  height: 100%;
}

.center{
  text-align: center;
}


.lvl-item {
  font-size: 300%;
  margin-bottom: 1%;
  margin-top: 1%;
  color: azure;
  height: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.lvl-item:hover {
  background-color: rgba(190, 184, 184, 0.301);
}



.lvl-img {
  width: 55%;
  height: auto;
  position: relative;
}

.lvl-stars{
  margin-left: 2%;
  opacity: 0.9;
  margin-bottom: 3%;
  width: 34%;
}
