@font-face {
  font-family: "Caviar Dreams";
  src: url("../../Fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.lvl-container {
  margin-top: 5%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  background-color: rgb(17, 122, 101);
  height: 100%;
  margin-bottom: 4%;
}

.center {
  text-align: center;
}

.lvl-item {
  font-size: 300%;
  margin-bottom: 1%;
  margin-top: 1%;
  color: azure;
  height: 30%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.lvl-item:hover {
  background-color: rgba(190, 184, 184, 0.301);
}

.lvl-img {
  width: 55%;
  height: auto;
  position: relative;
}

.lvl-stars {
  opacity: 0.9;
  width: 34%;
}

.lvl-stars-general {
  margin-top: 1%;
  margin-left: 7%;
  opacity: 0.9;
  width: 25%;
}

.contWelcome-lvlSelection {
  font-family: "opensans", sans-serif;
  text-align: center;
  align-content: center;
  font-size: 2em;
  color: white;
}

.generalLevelName {
  max-width: 200px;
  min-width: 200px;
  display: inline-flex;
  color: black;
  font-size: 1em;
  margin-bottom: 5px;
  font-family: "Caviar Dreams";
  font-weight: 500;
}

.lsback {
  font-size: 1.2em;
  cursor: pointer;
  display: inline;
  margin-right: 60%;
  font-family: "opensans", sans-serif;
  color: white;
}

.lsnext {
  font-size: 1.2em;
  cursor: pointer;
  display: inline;
  font-family: "opensans", sans-serif;
  color: white;
}
