.register-cont{
  margin-top: 10%;
  text-align: left;
  margin-left: 3%;
  width: 85%;
}

.divider-register{
  width: 100%;
}

.register-title{
  text-align: center;
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-bottom: 2%;
}

.register-data{
  text-align: left;
  font-size: 105%;
  color: rgb(214, 214, 214);
  margin-bottom: 2%;
}

.next-register{
  width: 2%;
  height: auto;
  margin-top: 4%;
  margin-left: 96%;
  cursor: pointer;
}
