.container-drag {
  text-align: center;
  margin: auto;
  align-content: center;
  align-items: center;
}

.container-instructions {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 4px solid rgba(0, 0, 104, 0.692);
  min-height: 3em;
  background-color: transparent;
}

.instructions-header {
  margin-top: 2%;
  margin-bottom: 1%;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  background-color: rgb(49, 49, 49);
  width: 100%;
  height: 3.7%;
}

.board-header {
  margin-top: 2%;
  margin-bottom: 1%;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  background-color: rgb(49, 49, 49);
  width: 100%;
  height: 3.7%;
}

.text-header {
  color: white;
  text-shadow: gray;
  text-transform: uppercase;
  font: 14px;
  height: 2px;
}

.container-board {
  border-radius: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 4px solid rgba(0, 0, 104, 0.692);
  min-height: 3em;
  background-color: transparent;
}

.action-item {
  border-radius: 10px;
  text-align: center;
  background-color: white;
  margin: 5px;
}
