.container-drag {
  text-align: center;
  margin: auto;
  align-content: center;
  align-items: center;
}


.instrucciones {
  border: 2px solid rgba(63, 63, 243, 0.692);
  position: absolute;
  width: 650px;
  height: 150px;
  left: 65px;
  top: 300px;
  background-color: transparent;
}

.instructions-header {
  display: inline-block;
  background-color: rgb(101, 70, 240);
  width:100%;
}


.board-header {
  display: inline-block;
  background-color: rgb(101, 70, 240);
  width:100%;
}

.text-header{
  color: white;
  text-shadow: gray;
  text-transform: uppercase;
  font: 14px ;
  height: 2px;
}

.droppable {
  border: 2px solid rgba(63, 63, 243, 0.692);
  position: absolute;
  width: 650px;
  height: 200px;
  left: 65px;
  top: 480px;

  background-color: transparent;

}


.draggable {
  text-align: center;
  width: 120px;
  height: 35px;
  background-color: white;
  margin: 5px;

}