.tutorial-container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 10%;
  padding-bottom: 3%;
}

.tutorial-cont-controls{
  border-radius: 15px;
  background-color: rgb(58, 57, 57);
  text-align: center;
  cursor: pointer;
}

.tutorial-cont-board{
  background-color: rgb(218, 216, 216);
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.tutorial-cont-board:hover{
  background-color: rgba(255, 217, 111, 0.849);
}

.tutorial-cont-controls:hover{
  background-color: rgba(255, 217, 111, 0.849);
}

.tutorial-style-cont{
  background-color: rgb(218, 216, 216);
  border-radius: 15px;
  text-align: center;
  border: 5px black;
}

.tutorial-board-cont{
  background-color: rgb(218, 216, 216);
  border-radius: 15px;
  text-align: left;
  padding: 2%;
  border: 5px black;
}

.tutorial-style-font{
  font-family: "opensans", sans-serif;
  color: black;
  font-size: large;
}


.tut-picIntro{
  margin-top: 5%;
  margin-bottom: 5%;
}


.back-modal{
  width: 2%;
  text-align: left;
  cursor: pointer;
  margin-bottom: 1%;
}

.close-modal{
  position: absolute;
  text-align: left;
  cursor: pointer;
  margin-left: 1.5%;
  margin-top: 0.5%;
  font-size: large;
}

.close-modal-obj{
  position: relative;
  text-align: left;
  cursor: pointer;
  margin-left: 1.5%;
  font-size: large;
}

.back-pic{
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  width: 2%;
  height: auto;
}

.controller-parts-container{
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  cursor: pointer;
}

.controller-parts-container:hover{
  background-color: cadetblue;
}


.controller-StartRestar-parts{
  margin-top: 1%;
  margin-bottom: 0.5%;
  width: 60%;
  cursor: pointer;
}

.controller-display-part{
  margin-top: 5%;
  width: 70%;
}


.tutorial-style-font-Board{
  padding: 1.5%;
  border-radius: 15px 25px;
  background-color: rgba(95, 158, 160, 0.712) ;
  display: inline-block;
  text-align: left;
  color: black;
  font-size: large;
  font-family: "opensans", sans-serif;
}

.obj-style-cont{
  margin-bottom: 2%;
  font-size: 120%;
  font-family: "opensans", sans-serif;
  color: black;
  background-color: rgb(218, 216, 216);
  border-radius: 15px;
  text-align: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #b61924;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
}

#overlay {
  position: relative;
  padding: 50px;
}

.controlls-text{
  font-family: "opensans", sans-serif;
  font-size: 2em;
  color: rgba(34, 34, 34, 0.924);
  font-weight: bold;
}