.tutorial-container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.tutorial-cont-controls{
  background-color: rgb(58, 57, 57);
  text-align: center;
  border-left: 5px black double;
  border-right: 5px black double;
  border-top: 5px black double;
  cursor: pointer;
}

.tutorial-cont-board{
  background-color: rgb(218, 216, 216);
  border-radius: 15% solid;
  text-align: center;
  border-left: 5px black double;
  border-right: 5px black double;
  border-bottom: 5px black double;
  cursor: pointer;
}

.tutorial-cont-board:hover{
  background-color: rgba(255, 217, 111, 0.849);
}

.tutorial-cont-controls:hover{
  background-color: rgba(255, 217, 111, 0.849);
}

.tutorial-style-cont{
  background-color: rgb(218, 216, 216);
  border-radius: 15% solid;
  text-align: center;
  border: 5px black double;
}

.tutorial-style-font{
  color: black;
  font-size: large;
  font-family: cursive;
}

.tutorial-style-separator{
  margin-left: 24%;
  align-self: center;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid rgb(37, 37, 37);
  border-radius: px;
}


.tut-picIntro{
  margin-top: 5%;
  margin-bottom: 5%;
}


.back-modal{
  text-align: left;
  cursor: pointer;
}

.close-modal{
  position: absolute;
  text-align: left;
  cursor: pointer;
  margin-left: 1.5%;
  margin-top: 0.5%;
  font-size: large;
}

.close-modal-obj{
  position: relative;
  text-align: left;
  cursor: pointer;
  margin-left: 1.5%;
  font-size: large;
}

.back-pic{
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  width: 2%;
  height: auto;
}

.controller-parts-container{
  width: 100%;
  height: 100%;
  padding-top: 2%;
  border-top: solid rgba(0, 0, 0, 0.342) 2px;
  cursor: pointer;
}

.controller-parts-container:hover{
  background-color: cadetblue;
}


.controller-StartRestar-parts{
  margin-top: 1%;
  margin-bottom: 0.5%;
  width: 60%;
  cursor: pointer;
}

.controller-display-part{
  margin-top: 5%;
  width: 70%;
}


.tutorial-style-font-Board{
  align-self: start;
  color: black;
  font-size: large;
  font-family: cursive;
  margin-left: -13%;
}

.obj-style-cont{
  margin-bottom: 2%;
  font-size: 120%;
  color: black;
  background-color: rgb(218, 216, 216);
  border-radius: 15% solid;
  text-align: center;
  border: 5px black double;
}

