.login-cont{
  margin-top: 25%;
  text-align: left;
}

.divider-login{
  width: 100%;
}

.login-title{
  font-family: "opensans", sans-serif;
  text-align: left;
  font-size: 150%;
  color: rgb(255, 255, 255);
  margin-bottom: 2%;
}

.login-data{
  font-family: "opensans", sans-serif;
  text-align: left;
  font-size: 105%;
  color: rgb(214, 214, 214);
  margin-bottom: 2%;
}

.next-endbutt{
  width: 8%;
  height: auto;
  margin-top: 2%;
  margin-left: 92%;
  cursor: pointer;
}

.vl{
  margin-left: 160%;
  margin-top: 25%;
  border-left: 3px solid rgb(255, 255, 255);
  height: 500px;
}